<% layout("/layout/boilerplate") %>
<body>
    <div class="card col-8 offset-4 " style="width: 18rem;">
        <div class="card-body">
          <p class="card-title"><b>id:</b><%= Student._id %></p> 
          <h6 class="card-subtitle mb-2 text-body-secondary"> <b>name:</b><%= Student.name %></h6>
          <p class="card-text"><b>class:</b><%= Student.class %></p>
          <div class="s-button">
            <form class="m-3" action="/students/<%= Student._id %>/edit">
              <button class="btn btn-success">edit</button>
            </form>
            <form class="m-3" method="post" action="/students/<%= Student._id %>?_method=DELETE">
              <button class="btn btn-danger">DELETE</button>
            </form>
          </div>
        </div>
      </div>
</body>